
h1.title {
	margin-top: 12px;
	margin-bottom: 12px;
}

.login-link {
	text-align: right;
}

.reg-link {
	float: left;
}

.center_box {
	width: 860px;
	margin: auto;
}

.clone {
	margin: 2em;
}

.instance {
	margin-bottom: 2em;
	border: 1px dotted gray;
}

.instance .img {
	overflow: auto;
}

code {
	background-color: #f7f7f0;
	border: 1px solid gray;
}

.code {
	margin: 1em;
	border: 1px solid gray;
	padding-top: 1em;
}

.code .label {
	margin-left: 1em;
	margin-right: 1em;
}

.code pre {
	border: 1px solid gray;
	margin: 1em;
}

.code pre.java {
	/*
	float: left;
	width: 50%;
	*/
}

.code pre.jimple {
}

.code pre .line.odd {
	background-color: #fafafa;
}

.code pre .line .number {
	background-color: #f0f0f0;
	padding-left: 1em;
}

.code pre .line .highlight {
	background-color: #bfbfbf;
}

.code pre .line .number.highlight {
	background-color: #f0f0f0;
	/* background-color: #a0a0a0; */
}

form .error {
	float: right;
	color: red;
	font-weight: 900;
}

form.survey, .instructions {
}

.instructions {
	margin-bottom: 1em;
}

form.survey {
	border: 1px dotted gray;
	background-color: #fcfcfc;
}

form.survey .question {
	margin: 1em;
}

form.survey .answer {
	margin-left: 3em;
}

form.survey .question.required::after {
	content: 'required';
	color: red;
	margin-left: 2em;
}

form.survey .submit {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
}

form.login, form.register {
	border: 1px dotted gray;
	background-color: #fcfcfc;
}

form.login div, form.register div {
	margin: 1em;
}

form.login .error, form.register .error {
	float: none;
	margin-left: 2em;
	color: red;
	font-weight: 900;
}


form.login .submit {
}

.submit {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1em;
	padding-right: 1em;
}
