{{template "header" (printf "Survey Question %v" .cid)}}

{{$mark := .mark}}
<div class="center_box">
{{$Q := .questions}}
{{range $r := .answer.Responses}}
{{if ge $r.Answer 0}}
<div class="response">
    <div class="question-text">{{(index $Q $r.QuestionID).Question.Question}}</div>
    <div class="answer">{{$r.Text}}</div>
</div>
{{end}}
{{if eq $r.Answer -3}}
<div class="response">
    <div class="question-text">{{(index $Q $r.QuestionID).Question.Question}}</div>
    <div class="answer">{{(call $mark $r.Text)}}</div>
</div>
{{end}}
{{end}}
{{if .prev}}<p><a href={{.prev}}>prev</a></p>{{end}}
{{if .next}}<p><a href={{.next}}>next</a></p>{{end}}
</div>

<div class="clone">
	<h1 class="title">{{(printf "Survey Question %v" .cid)}}</h1>
	{{if .form_error}}
	<div class="error">
		There was a validation error when you submitted the form. Please
		correct it and re-submit.
	</div>
	{{end}}
	<hr/>
	{{$cid := .cid}}
	{{range $idx, $inst := .clone.Instances}}
	<div class="instance">
		<div class="img">
			<img src="/clones/{{$cid}}/instances/{{$idx}}/embedding.png" title="image of the embedding"/>
		</div>
		<div class="code">
			<div class="label">
				class: <code>{{$inst.Class}}</code>
			</div>
			<div class="label">
				source file: <code>{{$inst.PathToJava}}</code>
			</div>
			<pre class="java">{{$inst.Java}}</pre>
			<!-- <pre class="jimple">{{$inst.Java}}</pre> -->
		</div>
	</div>
	{{end}}
</div>

<div class="center_box">
{{$Q := .questions}}
{{range $r := .answer.Responses}}
{{if ge $r.Answer 0}}
<div class="response">
    <div class="question-text">{{(index $Q $r.QuestionID).Question.Question}}</div>
    <div class="answer">{{$r.Text}}</div>
</div>
{{end}}
{{if eq $r.Answer -3}}
<div class="response">
    <div class="question-text">{{(index $Q $r.QuestionID).Question.Question}}</div>
    <div class="answer">{{(call $mark $r.Text)}}</div>
</div>
{{end}}
{{end}}
{{if .prev}}<p><a href={{.prev}}>prev</a></p>{{end}}
{{if .next}}<p><a href={{.next}}>next</a></p>{{end}}
</div>
{{template "footer"}}
