    <title>Home | Code Clone Survey App</title>
  </head>

  <body>
    <div class="container">
          <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <li class="active"><a href="/">Home</a></li>
          </li>

          <li role="presentation">
            <li><a href="/tutorial">Tutorial</a></li>
          </li>

          <li role="presentation">
              <a class="btn" href="/users/edit">
                <span class="glyphicon glyphicon-user"> Settings</span>
			  </a>
          </li>

          <li>
            <a class="btn" data-method="delete" href="/users/sign_out" id="signout" rel="nofollow">
                <span class="glyphicon glyphicon-log-out">
                  Logout
                </span>
            </a>
           </li>
        </ul>

    	</nav>
      	<a href="/">
        	<h3 class="text-muted">
          		Code Clone Survey App
        	</h3>
      </a>
	</div>

  <div class="jumbotron">
    <h1>Code Clone Survey App</h1>
    <p class="lead">This is a short summary about the app</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/users/sign_in">Sign in</a> or
      <a class="btn btn-primary btn-lg" href="/users/sign_up">Sign up</a>
    </p>
  </div>


      <br /><br />
      <footer class='footer'>
  <p>
    &copy;
    Tim Henderson
    2015
  </p>
</footer>

    </div> <!-- /container -->
  </body>
</html>

