{{template "header" "Code Clone Survey"}}
<div class="center_box">
	<h1 class="title">Code Clone Survey</h1 > 
	<hr/> 
	<div class="reg-link"><a href="/register">Register</a></div>
	<div class="login-link"><a href="/login">Login</a></div>

	<p>The Software Engineering Laboratory of the Electrical Engineering and
	Computer Science Department at Case Western Reserve University is running a
	research study at Mobile Defense Inc. The Principle Investigator for the
	study is Dr. Andy Podgurski and the primary researcher is Tim Henderson. Dr.
	Podgurski can be reached at podgurski@case.edu and 216-368-6884. </p>

	<p>The Case Study consists of a survey where you will be asked questions
	about portions of the Mobile Defense Android code base. The questions will
	be primarily focused on whether or not the indicated sections of source code
	are duplicated (“cloned”) or not. If you indicate the sections are
	duplicated, follow up questions will be asked on whether certain actions
	should be taken. For instance, a question may ask whether you believe the
	code should be refactored. Most questions will be multiple choice with
	optional free response questions.</p>

	<p>Your answers to the survey questions will be utilized to answer questions
	regarding the nature of duplicate code and procedure dependence graphs. The
	survey is not used to judge your job performance. Nor is the survey intended
	to compare participants against one another. The survey is only intended to
	study the relationship between procedure dependence graphs and duplicated
	code. Individualized answers will not be shared with the management of
	Mobile Defense Inc. However, aggregate answers and anonymized responses will
	be shared with Mobile Defense Inc on request.</p>

	<p>Aggregate responses and selected anonymized responses will be presented
	in a research paper intended to be submitted to one or more leading software
	engineering conferences. Neither the raw survey data nor individual
	responses will be made available to the general public. Your names will not
	be made available nor will your participation in the study be disclosed by
	the investigators.</p>

	<div class="reg-link"><a href="/register">Register</a></div>
	<div class="login-link"><a href="/login">Login</a></div>

</div>
{{template "footer"}}
