{{template "header" (printf "Survey Question %v" .cid)}}
<div class="clone">
	<h1 class="title">{{(printf "Survey Question %v" .cid)}}</h1>
	{{if .form_error}}
	<div class="error">
		There was a validation error when you submitted the form. Please
		correct it and re-submit.
	</div>
	{{end}}
	<hr/>
	{{$cid := .cid}}
	{{range $idx, $inst := .clone.Instances}}
	<div class="instance">
		<div class="img">
			<img src="/clones/{{$cid}}/instances/{{$idx}}/embedding.png" title="image of the embedding"/>
		</div>
		<div class="code">
			<div class="label">
				class: <code>{{$inst.Class}}</code>
			</div>
			<div class="label">
				source file: <code>{{$inst.PathToJava}}</code>
			</div>
			<pre class="java">{{$inst.Java}}</pre>
			<!-- <pre class="jimple">{{$inst.Java}}</pre> -->
		</div>
	</div>
	{{end}}
</div>
<div class="center_box">
	<div class="instructions">
		<h2>Please answer the following questions about the code fragments
			displayed above.</h2>
		{{if .form_error}}
		<div class="error">
			There was a validation error when you submitted the form. Please
			correct it and re-submit.
		</div>
		{{end}}
		<hr/>

		<p>As a reminder, these fragments may or may not represent duplicated
		code or "code clones". The purpose of looking for examining code
		clones is to determine if there are any problems associated with them.
		Problems associated with duplicate code includes (but is not limited
		to):</p>

		<ul>
			<li>
				Updates or bug fixes which should be applied to every duplicate
				are only applied to some of the duplicates.
			</li>
			<li>
				Duplicates may be incorrect due to being incorrectly copied
				from some other context.
			</li>
			<li>
				Duplicates can create more work when making futures changes such
				as adding features or fixing bugs.
			</li>
			<li>
				Duplicates may represent a convention which must be applied
				consistently but is not always applied correctly.
			</li>
			<li>
				Etc...
			</li>
		</ul>
		
		<p>Do to the nature of the clone detection mechanism employed sometimes
		duplications are found at the byte code level which are not present in
		the source code. If you believe this to be the case answer no to
		question (1) and additionally answer questions (3) and (4). There may be
		other legitimate reasons you feel the code is not really duplicated
		answer No in these cases as well. For instance, the graph in the
		picture does not provide enough detail and context. That is it is too
		general.</p>

		<p>Don't remember what exactly a code clone is? You can review the
		<a href="https://docs.google.com/presentation/d/10vEHHFtrKtNBL-OrYfJ2oAujDI6TbyRn0YFSBG9pyG8/edit?usp=sharing">presentation</a>
		I gave at the beginning of the survey.</p>
	</div>
	{{.form}}
</div>
{{template "footer"}}
