{{template "header" "Survey Overview"}}

<div class="container well">
    <table class="table">
      <tr>
          <td><strong>Your Email</strong></td>
          <td><strong>{{ .email }}</strong></td>
      </tr>
      <tr>
          <td><strong>Total Number of Groups</strong></td>
          <td>{{ .clone_count }}</td>
      </tr>

      <tr>
          <td><strong>Total Number of Groups Reviewed</strong></td>
          <td>TODO</td>
      </tr>

      <tr>
          <td><strong>Number of Groups You Have Reviewed</strong></td>
          <td>TODO</td>
      </tr>
    </table>

    {{if .next}}
      <a href="{{.next}}" class="btn btn-primary">Review a Group of Duplicates</a>
    {{end}}

    <a href="/logout" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-log-out" aria-hidden="true">  Logout</span></a>

</div>

{{template "footer"}}
